h1, p {
  font-family: Lato;
}
.cont{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.wrapper{

background-color: red;
height: 50px;
width: 200px;


}
.option-cont{
 justify-content: center;
 align-items: center;

}